<header>
  <nav>
    <a href="/inventory" class="header-link">Home</a>
    <a href="/inventory/add" class="header-link">Add Item</a>
    <a href="/inventory/available" class="header-link">Available</a>
    <a href="/inventory/sold" class="header-link">Sold</a>
  </nav>
</header>
