<div class="container form-container">
  <div class="inner-container">
    <h1><%= title %></h1>
    <% if (locals.errorMessage) { %>
    <div class="alert alert-danger"><%= locals.errorMessage %></div>
    <% } %>
    <form action="/inventory/add" method="POST">
      <label for="title">Title</label>
      <input type="text" name="title" required />
      <label for="description">Description</label>
      <textarea name="description" required></textarea>
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        step="0.01"
        min="1"
        max="10000"
        required
      />
      <p>Status</p>
      <div class="radio">
        <input type="radio" name="status" value="available" checked />
        <label for="available">Available</label>
      </div>
      <div class="radio">
        <input type="radio" name="status" value="sold" />
        <label for="sold">Sold</label>
      </div>
      <label for="imgURL">Image URL</label>
      <input type="text" name="imgURL" required />
      <button type="submit" class="btn">Add</button>
      <a href="/inventory" class="btn cancel-btn">Cancel</a>
    </form>
  </div>
</div>
