<div class="container form-container">
  <div class="inner-container">
    <h1>Video Game Inventory Management</h1>
    <img src="/images/logos.png" alt="console-logos" />
    <a href="/login" class="btn">Login</a>
    <a href="/signup" class="btn">Sign Up</a>
  </div>
</div>
