<% if (locals.messages.errors) { %> <% messages.errors.forEach(element => { %>
<div class="alert alert-danger"><%= element.msg %></div>
<% }) %> <% } %> <% if (locals.messages.info) { %> <%
messages.info.forEach(element => { %>
<div class="alert alert-danger"><%= element.msg %></div>
<% }) %> <% } %>
<form action="/login" method="POST">
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <button type="submit">Login</button>
</form>
