<div class="container form-container">
  <div class="inner-container">
    <h1>Sign Up</h1>
    <% if (locals.messages.error) { %>
    <div class="alert alert-danger"><%= messages.error %></div>
    <% } %>
    <form action="/signup" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Username" />
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Email" />
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" />
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
      />
      <button type="submit" class="btn">Sign Up</button>
    </form>
  </div>
</div>
